* {
    margin: 0;
    padding: 0;
}

.placeholder {
    max-width: 80%;
    margin: 40px 20% 0 20%;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
    'box box box box box box box box box box box box box box box box clear'
    'submit submit submit submit submit submit submit submit submit submit submit submit submit submit submit submit submit'
    ;
}

.textbox {
    padding-bottom: 100px;
    align-self: center;
    grid-area: box;
    background-color: #cccccc;
    resize: none;
}

.textbox:focus {
    background-color: #dddddd;
}

.clear {
    font-family: sans-serif;
    font-size: 30px;
    display: block;
    padding: 20px;
    float: left;
    background-color: #999999;
    font-weight: 70;
    border: none;
    grid-area: clear;
}

.clear:hover {
    background-color: #aaaaaa;
}

.clear:active {
    background-color: #ccc;
}

.submit {
    background-color: #778;
    grid-area: submit;
    border: none;
}

.submit:hover {
    background-color: #889;
}

.submit:active {
    background-color: #99a;
}